@import url('https://fonts.googleapis.com/css2?family=Changa+One&display=swap');
/* font-family: 'Changa One', cursive; */

body {
    font-family: 'Changa One', cursive;

}

header h1 {
    text-align: center;
}


li {
    display: inline-block;
    border: 1px solid black;
    background: rgb(206, 206, 206);
}


li h2 {
    text-align: center;
    font-weight: bold;
    font-size: 12px;
}

li p {
    text-align: center;
}


.paramount {
    width: 100PX;
}