@import url('https://fonts.googleapis.com/css2?family=Changa+One&display=swap');
/* font-family: 'Changa One', cursive; */

body {
    font-family: 'Changa One', cursive;
    background: #141414;

}

header h1 {
    text-align: center;
    color: #FCFFF5;
}


li {
    display: inline-block;
    border: 1px solid black;
    background: rgb(206, 206, 206);
    transition: 0.3s;
}

li:hover {
    background-color: rgb(88, 107, 90);
}


li h2 {
    text-align: center;
    font-weight: bold;
    font-size: 12px;
}

li p {
    text-align: center;
}





.paramount {
    width: 100PX;
}